<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    convertErrorsToExceptions="true"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="HelloFresh CSV test suite">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
